<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Import CSS -->
  <link rel="stylesheet" th:href="@{~/css/common.css}" />
  <title>View Artifacts | Wet LMS</title>
</head>

<body class="m-0">
  <header th:replace="admin/fragments/header.html"></header>

  <main>
    <div class="w-100 w-lg-75 my-4 mx-auto container">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h3 class="mb-4">Artifacts</h3>
        <a th:href="@{~/admin/artifacts/create}" class="d-flex flex-column justify-content-center align-items-center">
          <img th:src="@{~/images/add_v1.png}" class="create-new-img" />
        </a>
      </div>
      <div class="mb-5">
        <form action="#" th:action="@{/admin/artifacts/view}" method="GET">
          <div class="d-flex flex-row justify-content-between align-items-end">
            <div class="w-50">
              <label for="searchQuery" class="mb-2 font-weight-bold">Artifact ID / Name / ISBN / Authors:</label>
              <input type="text" class="form-control border border-dark rounded-0 text-dark" name="searchQuery"
                id="searchQuery" style="font-weight: 500;" placeholder="John Doe" th:value="${previousQuery}" />
            </div>
            <div style="width: 15%;">
              <label for="searchQuery" class="mb-2 font-weight-bold">Artifact Type:</label>
              <select id="type" name="type" class="form-control border border-dark rounded-0 text-dark">
                <option value="" th:selected="${#strings.isEmpty(previousType)}">All</option>
                <option value="book" th:selected="${previousType == 'book'}">Book</option>
                <option value="cd" th:selected="${previousType == 'cd'}">CD</option>
                <option value="dvd" th:selected="${previousType == 'dvd'}">DVD</option>
                <option value="comic" th:selected="${previousType == 'comic'}">Comic</option>
                <option value="magazine" th:selected="${previousType == 'magazine'}">Magazine</option>
                <option value="pdf" th:selected="${previousType == 'pdf'}">PDF</option>
              </select>
            </div>
            <button type="submit" class="px-4 py-2 btn border border-dark text-dark hover">Search</button>
          </div>
        </form>
      </div>
      <div class="row no-gutters">
        <div class="col-12">
          <table class="w-100 divtable">
            <col width="5%">
            <col width="15.5%">
            <col width="10%">
            <col width="12.5%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="6%">
            <col width="7%">
            <col width="6%">
            <col width="4%">
            <col width="4%">
            <thead class="border-top border-dark">
              <tr>
                <th class="py-2 px-2">ID</th>
                <th class="py-2 px-2">Name</th>
                <th class="py-2 px-2">ISBN</th>
                <th class="py-2 px-2">Description</th>
                <th class="py-2 px-2">Publisher</th>
                <th class="py-2 px-2">Authors</th>
                <th class="py-2 px-2">Location</th>
                <th class="py-2 px-2">Issued</th>
                <th class="py-2 px-2">Quantity</th>
                <th class="py-2 px-2">Type</th>
                <th class="py-2 px-2">PDF</th>
                <th class="py-2 px-2"></th>
                <th class="py-2 px-2"></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="13">
                  <div class="links mt-4">
                    <a th:href="@{~/admin/artifacts/view(page=1)}">&laquo;</a>
                    <!-- <a th:href="@{~/admin/artifacts/view(page=${currentPage &gt; 1} ? ${currentPage-1})}">❮</a> -->
                    <span th:each="pageNum: ${#numbers.sequence(currentPage-2, currentPage+2)}">
                      <a th:if="${pageNum &gt;= 1 AND pageNum &lt;= totalPages}"
                          th:class="${pageNum == currentPage} ? active"
                          th:href="@{~/admin/artifacts/view(page=${pageNum})}"
                          th:text=${pageNum}></a>
                    </span>
                    <!-- the below does not work -->
                    <!-- <a th:href="@{~/admin/artifacts/view(page=${currentPage &lt; totalPages} ? ${currentPage+1})}">❯</a> -->
                    <a th:href="@{~/admin/artifacts/view(page=${totalPages})}">&raquo;</a>
                  </div>
                </td>
              </tr>
            </tfoot>
            <tbody class="border-bottom border-dark">
              <tr th:each="artifact : ${artifacts}">
                <td class="py-2 px-2" th:text="${artifact.id}"></td>
                <td class="py-2 px-2 text-capitalize" th:text="${artifact.title}"></td>
                <td class="py-2 px-2" th:text="${artifact.isbn}"></td>
                <td class="py-2 px-2" th:text="${#strings.abbreviate(artifact.description, 70)}"></td>
                <td class="py-2 px-2 text-capitalize" th:text="${artifact.publishers}"></td>
                <td class="py-2 px-2 text-capitalize" th:text="${artifact.authors}"></td>
                <td class="py-2 px-2" th:text="${artifact.rackLocation}"></td>
                <td class="py-2 px-2" th:text="${artifact.totalQuantity - artifact.quantity}"></td>
                <td class="py-2 px-2" th:text="${artifact.totalQuantity}"></td>
                <td class="py-2 px-2 text-capitalize" th:text="${artifact.type}"></td>
                <td class="py-2 px-2">
                  <a th:if="${#bools.isFalse(#strings.isEmpty(artifact.pdf))}"
                    th:href="@{${artifact.pdf}}">Link</a>
                </td>
                <td class="py-2 px-2">
                  <a th:href="@{~/admin/artifacts/edit(id=${artifact.id})}"
                    class="d-flex flex-column justify-content-center align-items-center">
                    <img th:src="@{~/images/edit_pencil.png}" class="table-img" />
                  </a>
                </td>
                <td class="py-2 px-2">
                  <a th:href="@{~/admin/artifacts/delete(id=${artifact.id})}"
                    class="d-flex flex-column justify-content-center align-items-center">
                    <img th:src="@{~/images/red_trash_can.png}" class="table-img" />
                  </a>
                </td>
              </tr>
              <tr th:each="i: ${#numbers.sequence(1, totalEmptyRows)}">
                <td class="py-2 px-2">&nbsp;</td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
                <td class="py-2 px-2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>