<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Import CSS -->
  <link rel="stylesheet" th:href="@{~/css/common.css}" />
  <title>Home | Wet LMS</title>
</head>

<body class="m-0">
  <header th:replace="admin/fragments/header.html"></header>

  <main>
    <div class="w-sm-100 w-md-100 w-75 my-4 mx-auto d-flex flex-column justify-content-between align-items-center">
      <div class="w-100 mb-5 pb-5">
        <h3>Today's Reports</h3>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4>&euro;<span th:text="${todayFine}"></span></h4>
              <h5>Total Fine</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${todayArtifacts}"></h4>
              <h5>Total Artifacts</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${todayIssued}"></h4>
              <h5>Artifacts Issued</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${todayReturned}"></h4>
              <h5>Artifacts Returned</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${todayLost}"></h4>
              <h5>Artifacts Lost</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 mb-5 pb-5">
        <h3>Current Month's Reports</h3>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4>&euro;<span th:text="${monthFine}"></span></h4>
              <h5>Total Fine</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${monthArtifacts}"></h4>
              <h5>Total Artifacts</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${monthIssued}"></h4>
              <h5>Artifacts Issued</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${monthReturned}"></h4>
              <h5>Artifacts Returned</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${monthLost}"></h4>
              <h5>Artifacts Lost</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 mb-5">
        <h3>Current Year's Reports</h3>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4>&euro;<span th:text="${yearFine}"></span></h4>
              <h5>Total Fine</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${yearArtifacts}"></h4>
              <h5>Total Artifacts</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${yearIssued}"></h4>
              <h5>Artifacts Issued</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${yearReturned}"></h4>
              <h5>Artifacts Returned</h5>
            </div>
          </div>
          <div class="bg-light shadow" style="width: 18%">
            <div class="my-4 ml-3 position-relative grow">
              <h4 th:text="${yearLost}"></h4>
              <h5>Artifacts Lost</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>