<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Import CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{~/css/common.css}" />
  <title>Member Dashboard | Wet LMS</title>
</head>

<body class="m-0">
  <header sec:authorize="isAuthenticated()" th:replace="fragments/header.html :: signedIn"></header>
  <header sec:authorize="!isAuthenticated()" th:replace="fragments/header.html :: notSignedIn"></header>

  <div th:if="${renewal} or ${reserve} or ${remove}" class="toast shadow-lg position-fixed w-50 mb-4 mr-3"
    data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true"
    style="z-index: 100; right: 0; bottom: 0; min-height: 100px;">
    <div class="toast-header">
      <img class="rounded mr-2" style="max-height:25px; max-width: 25px;" th:src="@{~/images/logo/logo.png}" />
      <strong class="mr-auto">Wet LMS Bot</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body ">
      <p th:if="${renewal}" th:text="${renewalFailed} ? ${renewalMsg} : ${renewalMsg}"
        th:class="${renewalFailed} ? 'alert alert-success' : 'alert alert-danger'"></p>
      <p th:if="${reserve}" th:text="${reserveFailed} ? ${reserveMsg} : ${reserveMsg}"
        th:class="${reserveFailed} ? 'alert alert-success' : 'alert alert-danger'"></p>
      <p th:if="${remove}" th:text="${removeFailed} ? ${removeMsg} : ${removeMsg}"
        th:class="${removeFailed} ? 'alert alert-success' : 'alert alert-danger'"></p>
    </div>
  </div>

  <main class="container mt-5">
    <div class="hello-title w-100 mb-4 d-flex justify-content-between align-items-center"
      th:text="'Hello ' + ${member.fullName} + '!'">
    </div>

    <div class="title mb-3 border-bottom border-dark" id="current-loans">
      Current Loans
    </div>
    <div class="mb-5">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="my-3 mx-2 card artifact-card shadow bg-light border-0" th:each="loan : ${loans}">
          <div class="card-img-top d-flex justify-content-center h-50">
            <img th:src="${#strings.isEmpty(loan.getArtifact().thumbnailLink)} ? @{~/images/placeholder.png} : ${loan.getArtifact().thumbnailLink}" th:alt="${loan.getArtifact().title} + ' image'" />
          </div>
          <div class="card-body">
            <h5 class="card-title" th:text="${loan.getArtifact().title}"></h5>
            <p class="card-text text-muted" th:text="${loan.getArtifact().authors}"></p>
            <!-- <p class="card-text" th:text="${#strings.substring(loan.getArtifact().description,0,60)} + '..'"></p> -->
            <h5 th:text="'Due: ' + ${loan.getReturnOnAsString()}"></h5>
          </div>
          <div class="d-flex justify-content-end m-3">
            <button type="button" class="mr-2 px-3 py-2 btn border border-dark text-dark hover" data-toggle="modal" data-target="#renewModal"
              th:attrappend="data-target=${loan.id}">
              Renew
            </button>
            <a th:href="@{/artifacts/view(id=${loan.getArtifact().id})}" class="px-3 py-2 btn border border-dark text-dark hover">View more</a>
          </div>

          <div class="modal fade text-center" id="renewModal" th:attrappend="id=${loan.id}" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title mx-auto">
                    Renew for how many days?
                  </h4>
                </div>
                <div class="modal-body ">
                  <a th:href="@{/member/renew(id=${loan.id}, days='1')}" class="btn btn-lg btn-outline-dark">1 Day</a>
                  <a th:href="@{/member/renew(id=${loan.id}, days='3')}" class="btn btn-lg btn-outline-dark">3 Days</a>
                  <a th:href="@{/member/renew(id=${loan.id}, days='7')}" class="btn btn-lg btn-outline-dark">7 Days</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

    <!-- Modal -->

    <div class="title mb-3 border-bottom border-dark" id="reservations">Reservations</div>
    <div class="mb-5">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="my-3 mx-2 card artifact-card shadow bg-light border-0" th:each="loan : ${reservedLoans}">
          <div class="card-img-top d-flex justify-content-center h-50">
            <img th:src="${#strings.isEmpty(loan.getArtifact().thumbnailLink)} ? @{~/images/placeholder.png} : ${loan.getArtifact().thumbnailLink}" th:alt="${loan.getArtifact().title} + ' image'" />
          </div>
          <div class="card-body ">
            <h5 class="card-title" th:text="${loan.getArtifact().title}"></h5>
            <p class="card-text text-muted mb-4" th:text="${loan.getArtifact().authors}"></p>
            <h5 th:text="'Expires on: ' + ${loan.getExpiredOnAsString()}"></h5>
          </div>
          <div class="d-flex justify-content-end m-3">
            <button data-toggle="modal" data-target="#reserveModal"
            th:attrappend="data-target=${loan.id}" class="mr-2 px-3 py-2 btn border border-dark text-dark hover">Remove</button>
            <a th:href="@{/artifacts/view(id=${loan.getArtifact().id})}" class="px-3 py-2 btn border border-dark text-dark hover">View more</a>
          </div>
          <div class="modal fade text-center" id="reserveModal" role="dialog" th:attrappend="id=${loan.id}">
            <div class="modal-dialog modal-dialog-centered">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title mx-auto">
                    Remove?
                  </h4>
                </div>
                <div class="modal-body span1">
                  <a th:href="@{/member/reserve/remove(id=${loan.id})}"
                    class="btn btn-block border border-dark btn-success">Yes </a>
                  <button data-dismiss="modal" type="button" class="btn btn-block btn-outline-danger">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="title mb-3 border-bottom border-dark">Historical Loans</div>
    <div class="mb-5">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="my-3 mx-2 card artifact-card shadow bg-light border-0" th:each="loan : ${historicalLoans}">
          <div class="card-img-top d-flex justify-content-center h-50">
            <img th:src="${#strings.isEmpty(loan.getArtifact().thumbnailLink)} ? @{~/images/placeholder.png} : ${loan.getArtifact().thumbnailLink}" th:alt="${loan.getArtifact().title} + ' image'" />
          </div>
          <div class="card-body ">
            <h5 class="card-title" th:text="${loan.getArtifact().title}"></h5>
            <p class="card-text text-muted" th:text="${loan.getArtifact().authors}"></p>
            <!-- <p class="card-text" th:text="${#strings.substring(loan.getArtifact().description,0,60)} + '..'"></p> -->
            <h5 th:text="'Returned on: ' + ${loan.getReturnedOnAsString()}"></h5>
          </div>
          <div class="d-flex justify-content-end m-3">
            <button data-toggle="modal" data-target="#reserveModal"
            th:attrappend="data-target=${loan.getArtifact().id}" class="mr-2 px-3 py-2 btn border border-dark text-dark hover">Reserve</button>
            <a th:href="@{/artifacts/view(id=${loan.getArtifact().id})}" class="px-3 py-2 btn border border-dark text-dark hover">View more</a>
          </div>
          <div class="modal fade text-center" id="reserveModal" role="dialog" th:attrappend="id=${loan.getArtifact().id}">
            <div class="modal-dialog modal-dialog-centered">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title mx-auto">
                    Reserve?
                  </h4>
                </div>
                <div class="modal-body span1">
                  <a th:href="@{/member/reserve(id=${loan.getArtifact().id}, isbn=${loan.getArtifact().isbn})}"
                    class="btn btn-block border border-dark btn-success">Yes </a>
                  <button data-dismiss="modal" type="button" class="btn btn-block btn-outline-danger">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="mt-4 text-right link">
      <a class="px-3 py-2 btn border border-dark text-dark hover" th:href="@{/member/historical}">More</a>
    </div>
  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script>
    $(".toast").toast("show");
  </script>
</body>

</html>