<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Import CSS -->
    <link rel="stylesheet" th:href="@{css/common.css}" />
    <title>Home | Wet LMS</title>
  </head>

  <body class="m-0">
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light border-dark p-0"
        style="border-bottom: 2px solid;"
      >
        <a class="navbar-brand m-0 p-0 h-100" href="#">
          <div
            class="d-flex flex-row justify-content-between align-items-center h-100"
          >
            <img
              src="../static/images/logo/logo.png"
              th:src="@{images/logo/logo.png}"
              class="logo"
            />
            <div
              class="ml-2 d-flex flex-column justify-content-center align-items-start"
            >
              <h4 class="mb-0">Wet LMS</h4>
            </div>
          </div>
        </a>
      </nav>
    </header>

    <main>
      <div>
        <div sec:authorize="isAuthenticated()">
          <div class="col-1">
            <div class="img"></div>
          </div>

          <div class="col-2">
            <div class="name">
              <p></p>
            </div>
            <div name="website"></div>

            <div class="member"></div>

            <div class="last-active"></div>

            <div class="desc"></div>
          </div>
        </div>
        <div sec:authorize="isAuthenticated()">
          <h1>Please login</h1>
        </div>
      </div>
    </main>

    <footer>
      <div class="update"></div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
