<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <tfoot th:fragment="pagination">
    <tr>
      <td colspan="13">
        <div class="links mt-4">
          <a th:if="${totalPages &gt; 1}" th:href="@{~/admin/loans/view(page=1)}">&laquo;</a>
          <!-- <a th:href="@{~/admin/loans/view(page=${currentPage &gt; 1} ? ${currentPage-1})}">❮</a> -->
          <span th:each="pageNum: ${#numbers.sequence(currentPage-2, currentPage+2)}">
            <a th:if="${pageNum &gt;= 1 AND pageNum &lt;= totalPages}"
                th:class="${pageNum == currentPage} ? active"
                th:href="@{~/admin/loans/view(page=${pageNum})}"
                th:text=${pageNum}></a>
          </span>
          <!-- the below does not work -->
          <!-- <a th:href="@{~/admin/loans/view(page=${currentPage &lt; totalPages} ? ${currentPage+1})}">❯</a> -->
          <a th:if="${totalPages &gt; 1}" th:href="@{~/admin/loans/view(page=${totalPages})}">&raquo;</a>
        </div>
      </td>
    </tr>
  </tfoot>
</body>

</html>