<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Import CSS -->
  <link rel="stylesheet" th:href="@{~/css/common.css}" />
  <title>View Members | Wet LMS</title>
</head>

<body class="m-0">
  <header th:replace="admin/fragments/header.html"></header>

  <main>
    <div class="w-100 w-lg-75 my-4 mx-auto container">
      <div class="d-flex flex-row justify-content-between align-items-start">
        <h3 class="mb-4">Members</h3>
      </div>
      <div th:classappend="${#strings.isEmpty(previousIsSuccess)} ? mb-5 : mb-1">
        <form action="#" th:action="@{/admin/members/view}" method="GET" th:id="searchForm">
          <div class="d-flex flex-row justify-content-between align-items-end">
            <div class="w-50">
              <label for="searchQuery" class="mb-2 font-weight-bold">Member ID / Name / Email / Phone / Address /
                Type:</label>
              <input type="text" class="form-control border border-dark rounded-0 text-dark" name="searchQuery"
                id="searchQuery" style="font-weight: 500;" placeholder="John Doe" th:value="${previousQuery}" />
            </div>
            <div th:replace="admin/fragments/actionMessage.html :: hiddenInputsForActionMessages"></div>
            <button type="submit" class="px-4 py-2 btn border border-dark text-dark hover">Search</button>
          </div>
        </form>
      </div>
      <div th:replace="admin/fragments/actionMessage.html :: showActionMessage"></div>
      <div class="row no-gutters">
        <div class="col-12">
          <table class="w-100 divtable">
            <!-- <col width="5%">
            <col width="17%">
            <col width="23%">
            <col width="15%">
            <col width="18%">
            <col width="7%">
            <col width="7%">
            <col width="4%">
            <col width="4%"> -->
            <thead class="border-top border-dark">
              <tr>
                <th class="p-2">ID</th>
                <th class="p-2">Full Name</th>
                <th class="p-2">Email</th>
                <th class="p-2">Phone</th>
                <th class="p-2">Address</th>
                <th class="p-2">Type</th>
                <th class="p-2"></th>
                <th class="p-2"></th>
                <th class="p-2"></th>
              </tr>
            </thead>
            <tfoot th:replace="admin/fragments/pagination.html :: pagination"></tfoot>
            <tbody class="border-bottom border-dark">
              <tr th:each="member : ${members}">
                <td class="p-2" th:text="${member.id}"></td>
                <td class="p-2 text-capitalize" th:text="${member.fullName}"></td>
                <td class="p-2" th:text="${member.email}"></td>
                <td class="p-2" th:text="${member.mobileNumber}"></td>
                <td class="p-2 text-capitalize" th:text="${#strings.abbreviate(member.address, 50)}"></td>
                <td class="p-2 text-capitalize" th:text="${member.type}"></td>
                <!-- <td class="p-2">
                  <a th:href="@{~/admin/loans/view(memberQuery=${member.email}, previousMember=${member.email})}"
                    class="d-flex flex-column justify-content-center align-items-center table-link">
                    <img th:src="@{~/images/view_loan.png}" class="table-img" />
                    <div>&nbsp;View Loans</div>
                  </a>
                </td> -->
                <td class="p-2">
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <a th:href="@{~/admin/loans/view(memberQuery=${member.email})}" class="d-flex flex-row justify-content-center align-items-center table-link">
                      <img th:src="@{~/images/view_loan.png}" class="table-img" alt="View member loans icon" title="View member loans artifact" />
                      <div>&nbsp;View Loans</div>
                    </a>
                  </div>
                </td>
                <td class="p-2">
                  <a th:href="@{~/admin/members/edit(id=${member.id})}"
                    class="d-flex flex-row justify-content-center align-items-center table-link">
                    <img th:src="@{~/images/edit_pencil.png}" class="table-img" alt="Edit member icon" title="Edit member"  />
                  </a>
                </td>
                <td class="p-2">
                  <form th:action="@{/admin/members/delete}" method="POST" th:id="'delete-form-' + ${member.id}">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                      <button type="button" th:onclick="'deleteForm(' + ${member.id} + ')'" class="d-flex flex-row justify-content-center align-items-center table-link">
                        <img th:src="@{~/images/red_trash_can.png}" class="table-img" alt="Delete member icon" title="Delete member" />
                      </button>
                      <input type="text" class="d-none" name="id" th:value="${member.id}" />
                    </div>
                  </form>
                </td>
              </tr>
              <tr th:each="i: ${#numbers.sequence(1, totalEmptyRows)}">
                <td class="p-2">&nbsp;</td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
                <td class="p-2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- Include JavaScript from static folder -->
  <script type="text/javascript" src="/js/formTriggers.js"></script>
</body>

</html>