.quick-search-dropdown-seeAllResults-hover:hover {
  color: #0099ff;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: #f3f3f3;
}

.quick-search-container input {
  padding: 4px 32px 4px 8px;
}

.quick-search-container label {
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translate(-50%, -50%);
}

.quick-search-container .search-glass {
  height: 1.6rem;
  object-fit: contain;
}

.quick-search-container .search-spinner {
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translate(-50%, -50%);
  display: none;
}

/* The container <div> - needed to position the dropdown content */
.quick-search-dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.quick-search-dropdown-content {
  /* display: block; */
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 1px solid #e8e9eb;
}

/* Links inside the dropdown */
.quick-search-dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on ... */
.quick-search-dropdown input:focus~.quick-search-dropdown-content,
/* .quick-search-dropdown:hover .quick-search-dropdown-content, */
.quick-search-dropdown-content:hover {
  display: block;
  transition-duration: 1s;
}

.sk-chase {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {

  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1);
  }
}