<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Import CSS -->
  <link rel="stylesheet" th:href="@{~/css/common.css}" />
  <title>Home | Wet LMS</title>
</head>

<body class="m-0">
  <header sec:authorize="isAuthenticated()" th:replace="fragments/header.html :: signedIn"></header>
  <header sec:authorize="!isAuthenticated()" th:replace="fragments/header.html :: notSignedIn"></header>

  <div th:if="${onClick}" class="toast shadow-lg position-fixed w-50 mt-1 mr-1" data-autohide="false" role="alert"
    aria-live="assertive" aria-atomic="true" style="z-index: 100; right: 0; top: 10; min-height: 100px;">
    <div class="toast-header">
      <img class="rounded mr-2" style="max-height:25px; max-width: 25px;" th:src="@{~/images/logo/logo.png}" />
      <strong class="mr-auto">Wet LMS Bot</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body ">
      <p th:text="${invalidCredentials} ? ${credentialsMsg} : ${credentialsMsg}"
        th:class="${invalidCredentials} ? 'alert alert-success' : 'alert alert-danger'"></p>
    </div>
  </div>
  <main class="container mt-5">
    <div class="mb-5">
      <div class="row mb-4 ">
        <h2 class="col">
          Latest Books
        </h2>
        <a href="#" class="link col my-auto text-right ">Browse All</a>
      </div>
      <div class="row">
        <div class="col d-flex align-items-stretch mb-4" th:each="artifact : ${latestArtifacts}">
          <div class="card artifact-card border border-dark">
            <img th:src="@{~/images/test.png}" class="card-img-top border-bottom border-dark" alt="..." />
            <div class="card-body">
              <h5 class="card-title" th:text="${artifact.title}"></h5>
              <p class="card-subtitle text-muted mb-4" th:text="${artifact.authors}"></p>
              <p class="card-text" th:text="${artifact.genre}"></p>
              <a th:href="@{/artifacts/view(id=${artifact.id})}" class="btn btn-outline-primary view-more">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5 pt-5">
      <div class="row mb-4 ">
        <h2 class="col">
          Popular Books
        </h2>
        <a href="#" class="link col my-auto text-right">Show All</a>
      </div>
      <div class="row">
        <div class="col d-flex align-items-stretch mb-4" th:each="artifact : ${popularArtifacts}">
          <div class="card artifact-card">
            <img th:src="@{~/images/test.png}" class="card-img-top border-bottom border-dark" alt="..." />
            <div class="card-body">
              <h5 class="card-title" th:text="${artifact.title}"></h5>
              <p class="card-subtitle text-muted mb-4" th:text="${artifact.authors}"></p>
              <p class="card-text" th:text="${artifact.genre}"></p>
              <a th:href="@{/artifacts/view(id=${artifact.id})}" class="btn btn-outline-primary view-more">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5 pt-5">
      <div class="row mb-4 ">
        <h2 class="col">
          Upcoming Artifacts
        </h2>
        <a class="link col my-auto text-right text-decoration-none">Request an Artifact</a>
      </div>
      <div class="row">
        <div class="col ">
          <div class="card artifact-card">
            <img src="..." class="card-img-top border-bottom border-dark" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Artifact title</h5>
              <p class="card-text">
                Author
              </p>
              <a href="#" class="btn btn-outline-primary view-more">View more</a>
            </div>
          </div>
          <div class="text-center mt-3 border border-primary">
            <div>Coming in .. days</div>
          </div>
        </div>
        <div class=" col">
          <div class="card artifact-card">
            <img src="..." class="card-img-top border-bottom border-dark" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Artifact title</h5>
              <p class="card-text">
                Author
              </p>
              <a href="#" class="btn btn-outline-primary view-more">View more</a>
            </div>
          </div>
          <div class="text-center mt-3 border border-primary">
            <div>Coming in .. days</div>
          </div>
        </div>

        <div class="col">
          <div class="card artifact-card">
            <img src="..." class="card-img-top border-bottom border-dark" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Artifact title</h5>
              <p class="card-text">
                Author
              </p>
              <a href="#" class="btn btn-outline-primary view-more">View more</a>
            </div>
          </div>
          <div class="text-center mt-3 border border-primary">
            <div>Coming in .. days</div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script>
    $(".toast").toast("show");
  </script>
</body>

</html>