<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Tachyons CSS -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />

  <!-- Import CSS -->
  <link rel="stylesheet" th:href="@{~/css/common.css}" />
  <title>Search | Wet LMS</title>
</head>

<body class="m-0">
  <header sec:authorize="isAuthenticated()" th:replace="fragments/header.html :: signedIn"></header>
  <header sec:authorize="!isAuthenticated()" th:replace="fragments/header.html :: notSignedIn"></header>

  <div th:if="${reserve}" class="toast shadow-lg position-fixed w-50 mb-4 mr-3" data-autohide="false" role="alert"
    aria-live="assertive" aria-atomic="true" style="z-index: 100; right: 0; bottom: 0; min-height: 100px;">
    <div class="toast-header">
      <img class="rounded mr-2" style="max-height:25px; max-width: 25px;" th:src="@{~/images/logo/logo.png}" />
      <strong class="mr-auto">Wet LMS Bot</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body ">
      <p th:text="${reserveFailed} ? ${reserveMsg} : ${reserveMsg}"
        th:class="${reserveFailed} ? 'alert alert-success' : 'alert alert-danger'"></p>
    </div>
  </div>

  <main>
    <div class="w-100 w-lg-75 my-4 mx-auto container">
      <div class="w-100 mb-5">
        <h3 class="mb-3">Search</h3>
        <form>
          <div class="w-100-ns w-75-l p-3 border d-flex flex-column align-items-start">
            <label for="searchQuery" class="mb-2 font-weight-bold">Artifact ID / Name / ISBN / Authors:</label>
            <div class="w-100 d-flex justify-content-between align-items-center">
              <input type="text" class="w-75 form-control border border-dark rounded-0 text-dark" name="searchQuery"
                id="searchQuery" style="font-weight: 500;" placeholder="" th:value="${previousSearchQuery}" />
              <button type="submit" class="px-4 py-2 btn border border-dark text-dark hover">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="w-100">
        <div class="d-flex flex-column">
          <div class="w-100-ns w-60-l mx-3 mb-2 font-weight-light"
            th:text="'Page ' + ${currentPage} + ' / ' + ${totalPages} + ' of about ' + ${totalElements} + ' results'">
          </div>
          <div class="w-100-ns w-60-l divider"></div>
          <span th:each="artifact : ${artifacts}" th:remove="tag">
            <div href="#" class="w-100-ns w-60-l py-3 border-bottom">
              <div class="mx-3 d-flex justify-content-start align-items-center">
                <div class="h-100">
                  <img th:src="@{~/images/placeholder.png}" th:if="${#strings.isEmpty(artifact.thumbnailLink)}" style="width: 11rem; height: 11rem; object-fit: contain;" />
                  <img th:src="@{${artifact.thumbnailLink}}" th:unless="${#strings.isEmpty(artifact.thumbnailLink)}" style="width: 11rem; height: 11rem; object-fit: contain;" />
                </div>
                <div class="w-100 ml-3 d-flex flex-column justify-content-center align-items-start">
                  <p class="m-0 font-weight-bolder text-truncate text-capitalize" style="width: 90%;" th:text="'' + ${#strings.abbreviate(artifact.title, 100)}"></p>
                  <p class="m-0 mb-2" style="width: 90%;">by
                    <span class="text-capitalize text-truncate" th:text="${artifact.authors}"></span>
                  </p>
                  <p class="m-0 mb-2 font-weight-light" style="width: 90%;" th:text="'' + ${#strings.abbreviate(artifact.description, 255)}"></p>
                  <p class="m-0 font-weight-lighter" style="width: 90%;">Published by:
                    <span class="text-truncate" th:text="${artifact.publishers}"></span>
                  </p>
                  <p class="m-0 mb-2 font-weight-lighter" style="width: 90%;">Published on:
                    <span class="text-truncate" th:text="${artifact.publishedOn}"></span>
                  </p>
                  <div class="w-100 d-flex justify-content-end">
                    <button type="button" data-toggle="modal" data-target="#reserveModal"
                      th:attrappend="data-target=${artifact.id}"
                      class="mr-2 px-4 py-2 btn border border-dark text-dark hover">Reserve</button>
                    <a th:href="@{/artifacts/view(id=${artifact.id})}"
                      class="px-4 py-2 btn border border-dark text-dark hover">View</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade text-center" id="reserveModal" role="dialog" th:attrappend="id=${artifact.id}">
              <div class="modal-dialog modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title mx-auto">
                      Reserve? <span th:text=${artifact.id}></span>
                    </h4>
                  </div>
                  <div class="modal-body span1">
                    <a th:href="@{/member/reserve(id=${artifact.id}, isbn=${artifact.isbn})}"
                      class="btn btn-block border border-dark btn-success">Yes</a>
                    <button data-dismiss="modal" type="button" class="btn btn-block btn-outline-danger">No</button>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="w-100-ns w-60-l mx-3 my-4" th:if="${totalElements} == 0">
          <div class="font-weight-bold">No results.</div>
        </div>
        <div class="w-100-ns w-60-l divider"></div>
        <div class="w-100-ns w-60-l d-flex justify-content-end">
          <div th:replace="fragments/pagination.html :: pagination"></div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <script>
    $(".toast").toast("show");
  </script>
</body>

</html>