<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <div th:fragment="viewUpdateStatus" class="w-100" th:unless="${#strings.isEmpty(previousUpdateStatus)}">
    <div class="p-3 my-3 w-100" style="background-color: #28a745b6;font-weight: bolder;" th:if="${previousUpdateStatus == 'success'}">
      &#10004;&nbsp;
      <span th:if="${#strings.isEmpty(previousUpdateMessage)}">Updated Successfully.</span>
      <span th:unless="${#strings.isEmpty(previousUpdateMessage)}" th:text="${previousUpdateMessage}"></span>
    </div>
    <div class="p-3 my-3 w-100" style="background-color: #dc3546b6;font-weight: bolder;" th:if="${previousUpdateStatus == 'fail'}">
      &#10008;&nbsp;
      <span th:if="${#strings.isEmpty(previousErrorMessage)}">Failed to Update. Please try again.</span>
      <span th:unless="${#strings.isEmpty(previousErrorMessage)}" th:text="${previousErrorMessage}"></span>
    </div>
  </div>
</body>

</html>